.friendrow {
    display: flex;
    color: rgb(83, 83, 83);
}

.friend{
    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}